[2020-05-19 17:38] isabelcosta opened #1 "Research and setup code coverage tool for our community projects"
## Description

Research code coverage report tool to apply to one of our projects and then set up at least one project with that (e.g.: perhaps [mentorship backend](https://github.com/anitab-org/mentorship-backend) 🙃 )

For the research have into account the existing tech stack projects in the community (e.g.: kotlin, python, java, ..).

- [Documentation options - Code Coverage sheet](https://doc

[2020-05-19 22:29] Tlazypanda commented on #1
@isabelcosta @mayburgos After going through the Options here is what I think we should go for - Code Climate. The reasons and comparisons are as follows:-

- The problem with Codacy is that it wont support flutter.
- The problem with Codecov is that the team size< 5 to be free for OSS.
- Coveralls and Code climate both support flutter(dart) but the support for Code climate is better in terms of su

[2020-05-20 08:01] meenakshi-dhanani commented on #1
We need coverage tools for the Android front end and the backend, correct?
So we might require different for flutter and different for the python
backend?

On Wed, 20 May, 2020, 3:59 AM Sneha Mishra, <notifications@github.com>
wrote:

[2020-05-20 18:40] SanketDG commented on #1
I'll put in my two cents.

- It's fine if we use two completely different tools for two different projects, I think it's more important to use the right tool with the right language.
- Codecov's 5 user limit is probably being misrepresented here. There are lots of large open source (Python) orgs using codecov for their coverage report.
- Travis CI should ideally work with any coverage provider, I

[2020-05-20 22:37] Tlazypanda commented on #1
Hey @SanketDG! Thanks for the review :100:

Just adding to what I meant by some of these -
- Yeah absolutely agree with this, I meant for achieving uniformity across all repositories this might be a good solution.
- Not sure about this ...their website mentioned this so might be wrong on this one :sweat_smile: There is a GitHub app for Codecov that is in use which allows for limited features for f

[2020-05-21 17:13] isabelcosta opened #2 "Create a more appealing CONTRIBUTING.md template for our projects"
## Problem

The current Contributing Guidelines seems a bit more of a grocery list, that I think contributors are bypassing this information. We want to make it easier to contributors

In my opinion, we should have separate sessions for every type of contribution we welcome: coding, manual testing, documentation, etc. Having this, we can provide specific guidelines for each type of contribution.

[2020-05-21 17:23] isabelcosta opened #3 "Create a visual representation of our Open Source workflow"
## Problem

As we evolve as a community, we are evolving our open source workflow. Currently we have been trying to add a QA testing step to how we handle pull requests, and this is not yet visually represented. I think this could clear up confusion from new and current contributors.

In the past, we had this open source workflow: http://systers.io/open-source-workflow

Today we have a specific wa

[2020-05-22 18:58] isabelcosta opened #4 "Finalize Frequently Asked Questions (FAQ) document"
## Problem

There are some frequently asked questions that newcomers and even contributors that are here for some time, are not clarified. We need to have an established

Work in progress documents:
- [Anna’s created document](https://docs.google.com/document/d/1XRDyQetsMCROa4Yzj8HRpeSK8HbvcrpHrr_8cpKVo1E/edit)
- [Foong’s created Document](https://docs.google.com/document/d/10llo_FEz9hv2XP3jRi6N2j

[2020-05-23 16:39] Tlazypanda commented on #1
@isabelcosta @mayburgos So should I go ahead with this? Thanks :v:

[2020-05-23 16:45] Tlazypanda commented on #1
@meenakshi-dhanani So sorry I missed your message :sweat_smile: codeclimate has support for both dart and python so that shouldn't be a problem. But yeah as @SanketDG pointed out other tools may work better for specific languages... I did some digging and found blogs for flutter used with codeclimate so I think it should work fine.

[2020-05-25 13:58] mitchell-frost commented on #3
I am new here. Can I work on this to get started?

[2020-05-25 14:01] isabelcosta commented on #3
@mitchell-frost sure you can :) Do you understand what this is about and where you can find information to build this representation?

[2020-05-25 14:07] isabelcosta commented on #4
@anitab-org/content-team I hope I did not get the mentions wrong

[2020-05-25 14:14] mitchell-frost commented on #3
@isabelcosta I am actually not sure where to start. Any help shall be appreciated!

[2020-05-25 14:22] isabelcosta commented on #3
@mitchell-frost no problem, I would start by looking at the document I mention in the issue description - [Open Source teams guide](https://docs.google.com/document/d/1bt1Dfi_LK8-IDOX-vxgc_PT-CGP4sWhSI5TT4amtLMY/edit) - so you understand the label system we use.

For example, these are some of the things we'd like to see in the representation:
workflow since someone creates an issue until a PR of

[2020-05-25 14:29] mitchell-frost commented on #3
@isabelcosta thanks! I will start working on it and I understand that it's a documentation issue.

[2020-05-25 14:34] isabelcosta commented on #3
@mitchell-frost  Feel free to use GitHub comments or Zulip messages or an office hour of mine to discuss this and ask more questions. I am having an office hour today at 23h (Lisbon timezone) :)

[2020-05-28 12:21] isabelcosta commented on #3
@mitchell-frost Any updates? Do you need any help?

[2020-05-28 13:29] mitchell-frost commented on #3
I am working on another issue as well. I will keep you updated about the progress @isabelcosta

[2020-05-28 15:45] isabelcosta commented on #3
@mitchell-frost its better to focus on one issue at a time. Do you mind if I make this available again, until you are available again? This is a high priority issue, because there is a lot of confusion in the community with what we are doing in the community

[2020-05-29 18:18] isabelcosta commented on #4
**[update from content team meeting]**

@foongminwong @siddhipandare @jhalak27 worked on finalizing the FAQ document
@anitab-org/admins will review and provide final answers if needed.

[2020-05-30 07:26] nandini45 commented on #3
@isabelcosta  she is already working on a issue in anitab-org.github.io open source website (https://github.com/anitab-org/anitab-org.github.io/issues/42).
its better to make this issue available again.
and i agree we do need to setup the contribution guidelines again for all the repository especially for newcomers and other contributions

[2020-05-30 09:09] gaurivn commented on #3
@mitchell-frost , which issue are you working on atm, is it this one or the other one that @nandini45 mentioned in previous message? Please tell which one you're working on currently, so we can make the other one available as @isabelcosta said.

[2020-05-30 11:04] isabelcosta commented on #3
@nandini45 thank you for the update, I will make this available again :)

[2020-05-30 14:08] nandini45 commented on #1
@Tlazypanda  correct me if i am missing anything..In the documentation generators HeaderDoc is missing the possibility of extended customization??

[2020-05-30 14:30] Tlazypanda commented on #1
Hey @nandini45 Not quite sure I understand what you refer to here :sweat_smile: can you elaborate a bit on what you are referring to? Thanks :v:

[2020-05-30 17:30] nandini45 commented on #1
oh i couldn't go through the whole doc. i went only through the  documentation generators. i thought headerdoc was missing some content  but now i am rechecking it the content has been update or i think i missed the column.. @Tlazypanda

[2020-05-31 16:54] rpattath commented on #3
Workflow requirements:

When the PR is in `Status: Needs Review` - 2 minimum approved code reviews.

When the PR is in `Status: Needs Testing`: minimum 1 tester has to test locally and [report](https://github.com/anitab-org/mentorship-backend/blob/develop/docs/test-pr-guide.md#template-to-report-pr-testing-results) it as a comment on the PR.

Tester says:
→ success → “Status: Ready to Merge”
→ fai

[2020-06-01 06:11] mitchell-frost commented on #3
@isabelcosta @nandini45 Apologies about the confusion. I am new here. I will try not to take up two issues at once.

[2020-06-04 23:53] isabelcosta commented on #3
@mitchell-frost no worries at all! We prefer for contributors to work on one issue at a time so that others can take on other issues. Now you know :) I hope you are enjoying working on the other issue.

[2020-06-06 19:03] Tlazypanda commented on #1
@nandini45 Umm... are you sure this is relevant to this issue :sweat_smile: I am not able to comprehend anything and am extremely confused :confused:

[2020-06-06 19:20] nandini45 commented on #1
you are talking about all the community projects and setting up their tools right?
what can we use for coding and all related  stuff right?

[2020-06-06 19:25] Tlazypanda commented on #1
Ohh are you referring to the doc that @isabelcosta linked in the issue ...yeah it's a reference doc from couple of years back that she shared so that I can research faster :sweat_smile:

[2020-06-06 19:26] nandini45 commented on #1
and on basis of that you have to create a new doc
right?

[2020-06-06 19:29] Tlazypanda commented on #1
no doc isnt required I summarized my findings in the comment above :sweat_smile:

[2020-06-06 19:32] nandini45 commented on #1
oh ok i thought the doc is updated and i couldn't fond one project so i was wronged. my bad😅

[2020-06-06 19:44] Tlazypanda commented on #1
Ohh no issues :sweat_smile: Even I got confused as to what it referred to ...Thanks for your review :heart:

[2020-06-07 12:47] isabelcosta commented on #1
@Tlazypanda I agree with your choices, I think we should start implementing these as soon as possible :)
I think you have started a conversation on Zulip already, can you please tag me there, I want to help you get what you need to start implementing this in one of the repositories

[2020-06-09 17:31] isabelcosta opened #6 "Research a way for building an apk per Android PR sent"
# Problem

As of now, if a tester wishes to test an Android PR, they have to run and build the project. This can be cumbersome for a tester.

# Idea

Discover a way to produce apks per pull request.

We could research if we are able to do that with a GitHub Action or something like that, to build an APK per pull request. The same way we have an apk generated for most of Android projects.
Example:

[2020-06-09 17:31] isabelcosta commented on #6
@Techno-Disaster I assigned this to you, but you can ask for help, or have someone helping you here.

[2020-06-09 17:33] Techno-Disaster commented on #6
Yes, I already did some work on this.
If anyone wants to help, I'm considering using diawi. already have a github action to upload to diawi ready. need to integrate with the build scripts now.

I'm open to any other suggestions.

[2020-06-09 17:39] isabelcosta commented on #6
@Techno-Disaster I quickly looked at your Zulip message, but I have not researched the subject much. So I have no suggestions as of now

[2020-06-09 17:51] HaripriyaB commented on #6
https://www.diawi.com/
I checked about it. But it needs the contributor to upload the whole android project and then the apk will be sent to the tester.

[2020-06-09 18:13] isabelcosta opened #7 "Research the possibility of having Web deploy previews"
# Problem

For someone to perform manual testing a web PR, they have to set up the whole project just for it. This can be cumbersome, and difficult for someone not used to deal with setting up coding projects.

# Idea

So we wish to have a service that allows us to have Pull Request deploy previews.
This would help majorly testers and developers, to not just review code.
This would look like: havi

[2020-06-09 18:25] HaripriyaB commented on #6
But this would take time and I think we need to find a solution to automate it.

[2020-06-09 18:27] sakshivij commented on #7
I have checked. We can do this very easily with netlify. Will update on the steps to implement this soon.

[2020-06-09 19:03] isabelcosta commented on #7
thank you so much for your research on this @sakshivij 👏 in such a short time 🎉

[2020-06-09 19:30] isabelcosta commented on #7
@sakshivij I just discovered that Heroku also has. Since I have the project deployed there, I will check if this is easily done.

https://devcenter.heroku.com/articles/github-integration-review-apps

![image](https://user-images.githubusercontent.com/11148726/84191202-0e4a8a00-aa90-11ea-9da7-b04895056680.png)

[2020-06-09 19:32] sakshivij commented on #7
Awesome! 🙌

[2020-06-09 19:33] isabelcosta commented on #7
Uh, but I think I have to upgrade. Let me check Netlify ;) I want something that comes for open source projects for free.

[2020-06-09 19:34] Techno-Disaster commented on #6
yes, as i said i already have a script to upload the app, just need to integrate it with the PR and building process

[2020-06-09 19:35] sakshivij commented on #7
Netlify is free.

[2020-06-09 19:37] HaripriyaB commented on #6
How to do that? :

[2020-06-09 19:39] sakshivij commented on #7
I'll research a bit more on this after some time if it's required. Since both are different platforms they obviously have different ways they work. I want to be sure which platform is better.

Would link a document about the research I do for this.

[2020-06-09 19:45] isabelcosta commented on #7
thank you again for the research you already did 🙌
I just assigned this to you, to give you credit for your work here! Feel free to focus on other issues if you prefer. I am also working on this :)

[2020-06-09 20:47] mayburgos commented on #1
@Tlazypanda I have no clue if you've started. @sidvenu brought up today that we can use GitHub Actions for the Travis CI work. Have you looked into those automation tools provided in GitHub Actions, Sneha?

[2020-06-09 21:11] isabelcosta commented on #7
@sakshivij I managed to do this deploy preview from one PR from my fork repository w/ Heroku 🎉  Netlify, was kind of difficult since that is used for static websites and not server like projects.

- Deploy Preview: https://to-test-revi-430-update-imlbuk.herokuapp.com/
- PR: https://github.com/isabelcosta/mentorship-backend/pull/2

You can view the deployment link.

![image](https://user-images.git

[2020-06-10 00:59] Techno-Disaster commented on #6
working on it. Don't have time this week tho

[2020-06-12 18:25] mayburgos commented on #3
@rpattath I can work on this. :)

[2020-06-12 21:26] rpattath commented on #3
Thank you @mayburgos ! Let me know if I could be of any help :)

[2020-06-12 21:30] isabelcosta commented on #3
@rpattath I talked about this in the Content Open Session today, and @mayburgos agreed to help you with the visual representation, your PR is still going to be part of this work :)

[2020-06-13 14:30] rpattath commented on #3
@isabelcosta sounds like a great plan !

@mayburgos let me know if you want me to come up with a visual representation for you to review, or if you are coming up with one I would be more than happy to look at it.

[2020-06-14 18:36] rpattath commented on #3
@mayburgos @isabelcosta please release me from this Issue. I think integration test automation is a very pressing issue for qa-team as of now. I would like to focus on that. I am sorry.

[2020-06-15 18:04] isabelcosta commented on #3
@rpattath no need to apologize. We completely understand, and you updated us, that's all we need :)

[2020-06-16 17:16] isabelcosta commented on #7
This is done 🎉 This requires me to choose wisely which Heroku Review apps to deploy, due to the limit of apps I can have on heroku with a free account.

Right now we already have a deploy preview for this PR on mentorship backend https://github.com/anitab-org/mentorship-backend/pull/552.
Here's the deploy link: https://ms-backend-review-pr-552.herokuapp.com/

I will close this now since this is do

[2020-06-16 17:16] #7 closed

[2020-07-01 05:00] meenakshi-dhanani commented on #1
Hello there hasn't been any comment on this PR lately. We think coverage is important for us to go to production. Wanted to follow up on this? @Tlazypanda any updates on the status?

[2020-07-01 06:27] Tlazypanda commented on #1
Hey @meenakshi-dhanani this has been setup in my fork for a demo, please refer this https://anitab-org.zulipchat.com/#narrow/stream/216325-quality-assurance/topic/Setup.20coverage.20tools/near/202120525 conversation where I have included links of the demo. Any feedback appreciated :tada:

[2020-07-19 17:26] isabelcosta commented on #1
This was already successfully done here https://github.com/anitab-org/mentorship-backend
@Tlazypanda should we close this issue?

[2020-07-19 17:32] isabelcosta opened #8 "Document how to submit a blog to our community"
I see community members having doubts on how to submit a blog to our publication so I guess we could add markdown documentation about that.

- [Zulip message by May](https://anitab-org.zulipchat.com/#narrow/stream/223068-celebrate/topic/Publishing.20an.20Article/near/204359706)

[2020-07-19 19:12] isabelcosta opened #9 "Add CODE_OF_CONDUCT and REPORTING_GUIDELINES markdown files to the root"
Add CODE_OF_CONDUCT and REPORTING_GUIDELINES to the root folder of this project.
This is important for having a source of truth about our documentation.

Here's examples you can copy:
- CoC: https://github.com/anitab-org/anitab-org.github.io/blob/develop/docs/code_of_conduct.md
- Reporting Guidelines: https://github.com/anitab-org/anitab-org.github.io/blob/develop/docs/reporting_guidelines.md

[2020-07-19 19:41] isabelcosta commented on #8
Images for this docuemntation:

![image](https://user-images.githubusercontent.com/11148726/87883568-3c60a980-ca00-11ea-8455-5bed7b4f1db1.png)

[2020-07-19 20:27] nandini45 opened #12 "add contributing guidelines to improve the following features like pull request, first time issues etc."
A feature with clear details about the research done and need for the feature is considered a good feature request.
(keeping this in mind we have to improve the following guidelines)
- First contributions
- Pull requests
- issue labels
- commit messages
for further details you can visit the doc link mentioned below-
https://docs.google.com/document/d/1ysCUVb1IuuQykR4d5a22BoIWwafRjw70ctQ3Kkf2SHw/ed

[2020-07-23 13:38] jivthesh commented on #12
@nandini45 can i work on this

[2020-07-23 19:53] nandini45 commented on #12
@jivthesh  its not a coding issue.
it is a documentation issue we have to update the contribution guidelines for the community.
if you want to contribute to coding check the pinned repositories
![image](https://user-images.githubusercontent.com/62046625/88332464-39d9b900-cd4c-11ea-9db3-7f9bc0f6d36a.png)

[2020-07-24 05:05] jivthesh commented on #12
@ yes i want to contribute to documentation part

[2020-07-24 06:30] sakshivij commented on #12
@jivthesh thanks for taking out time to contribute. This issue is in progress and we all are working on this. You are welcome to contribute! Do join us on zulip and ping on documentation channel, I'll be able to help you from there!

[2020-07-24 18:27] SanketDG opened #13 "Integrate the commit message checker github action"
The Portal project recently integrated [commitlint](https://github.com/anitab-org/portal/blob/develop/.github/workflows/commitlint.yml) to check for incorrect commit messages.

Can we integrate this for other projects?

[2020-07-25 17:23] isabelcosta opened #14 "Start Quality Assurance guide"
The idea here is to have the first version of the quality assurance guide. In my Office Hour me and @rpattath came up with a plan for it so this should be put into public more accessible document than the "Community Open Session Minutes" document.

[2020-07-25 17:24] isabelcosta commented on #14
@rpattath do you want to do this or can I go forward with this?
The idea here is to put into markdown format what we came up with in my office hour regarding Quallity Assurance workflows.

[2020-07-26 16:13] rpattath commented on #14
@isabelcosta yes I can take this up.

[2020-07-26 16:27] isabelcosta commented on #13
yesss! I mean, how does this work?
Does this avoid a squash and merge with the wrong commit message? What is the workflow here? @SanketDG

[2020-07-26 18:40] SanketDG commented on #13
@isabelcosta Well, it just parses the commit message for a set of rules and then throws an error for the failed github action! (like tests have failed)

Sample: https://github.com/anitab-org/portal/pull/566

[2020-07-27 17:49] isabelcosta opened #15 "Design a background image for our Medium Blog"
## Problem

Currently, our Medium Blog is lacking a background image which can make the Blog look a bit boring.
So the idea here is to design an asset that will look good on our Medium Publication.
We want something to enhance the title of the publication.

Be as creative as you want, having in mind the redimensioning of the page, something that can be flattering no matter the size of the page.

Y

[2020-07-27 18:47] nandini45 commented on #15
@isabelcosta can i work on it ?

[2020-07-27 18:54] isabelcosta commented on #15
Sure @nandini45 :) Please update us within 3 days.

[2020-07-27 19:01] isabelcosta opened #16 "Create a document to start documenting Design related content"
## Description

We need a document to have information related to Design within our organization. For example, we could have a link to the AnitaB.org Brand Guidelines, among other things.

[2020-07-27 19:04] isabelcosta opened #17 "Create document about our Zulip"
## Description

An initial version of this just needs to contain information about our Zulip. It can include the main streams we use and the project's streams. Explain what each stream is used for.

Adding emojis to each channel could be fun :)

[2020-07-28 06:04] kakabisht commented on #17
I could take this up, if it's okay?

[2020-07-28 14:28] SanketDG commented on #17
@kakabisht is #18 your PR?

[2020-07-28 20:14] #8 closed

[2020-07-29 03:55] sakshivij commented on #12
Adding the document that contains all the work that has been done so far:
https://docs.google.com/document/d/1ysCUVb1IuuQykR4d5a22BoIWwafRjw70ctQ3Kkf2SHw/edit?usp=sharing

Do reach out in case anyone is interested.

[2020-07-29 13:13] nandini45 commented on #15
@isabelcosta  can  u tell me any idea that you had in mind for the background image?
 i will share what ideas i had and what i did

[2020-07-29 13:39] nandini45 commented on #15
does the open source community has any motto that we represent or the same Anitab-org ?

[2020-07-29 21:17] nandini45 commented on #15
![image](https://user-images.githubusercontent.com/62046625/88854275-a6eac400-d20e-11ea-8aea-c516556ba1cc.png)

![image](https://user-images.githubusercontent.com/62046625/88854343-c7b31980-d20e-11ea-83b2-a60178193624.png)

@isabelcosta  i had 2 ideas that either we can draw human illustrations showing diversity
or using our logo color sketch females showing different womens of colors representing

[2020-07-29 21:59] isabelcosta commented on #15
@nandini45 be as creative as you want :D I love the second image with so many colors and differences shown.
The first image does not say much to me. I just have a little pointer, the log of anitab.org does not need to contain "Systers" since the community brand does no limit itself just to Systers but to the AnitaB.org brand as a whole, even if targeting Open Source.

[2020-07-29 22:11] isabelcosta commented on #15
@nandini45 I briefly tried your 2nd image and it looks super nice and fits very nicely 👏  the logo is the only thing that I see could be improved

[2020-07-30 05:18] siddhipandare commented on #16
I think design team would know which guidelines to add and information about creating design mocks better. I can help with compiling and creating the .md file.
@anitab-org/design-team anyone would like to work on this?

[2020-07-30 05:26] sakshi1499 commented on #16
Yes we have a document for the same purpose, it just needs editing.

[2020-07-30 11:26] nandini45 commented on #15
@isabelcosta  i may need some time to sketch the one out and make some changes.. i will update you as soon as I can

[2020-08-01 21:18] nandini45 commented on #15
![image](https://user-images.githubusercontent.com/62046625/89110590-da755a80-d469-11ea-9a7e-75322d9c7f29.png)

![image](https://user-images.githubusercontent.com/62046625/89110600-e82ae000-d469-11ea-9551-79e4c6b87132.png)

which one do u like?

@isabelcosta
i had one more idea i am sketching that out
i will also share that

[2020-08-01 22:04] nandini45 commented on #15
i had a question @isabelcosta  that if we show men in the photo will it be correct?
because the motto says women transform n so

[2020-08-01 22:13] nandini45 commented on #15
![image](https://user-images.githubusercontent.com/62046625/89111335-40fe7680-d472-11ea-9762-2a952c993d1b.png)

[2020-08-04 22:26] isabelcosta commented on #15
@nandini45 I like this one better. Feels more natural, the last one shows the square that contains the text, and the first does not feel to me related with sense of community. Feel free to share this with the community to get more feedback if you'd like. I am happy with option 2 :)

[2020-08-11 18:46] sakshivij commented on #2
@isabelcosta For moving this forward, can I make an initial PR? That way it can later on be edited easily by others. What are your thoughts on this?

[2020-08-12 20:04] SanketDG commented on #2
Incase we are looking for inspiration from other projects: https://github.com/mntnr/awesome-contributing

[2020-08-13 11:09] Frenzyritz13 opened #20 "Create the config.yml file for the Welcome Bot"
## Description
 As a first time contributor,
 I need a bot to help guide my first contribution,
 so that I can follow this org's contribution guidelines.

 ## Mocks
 ![Screen Shot 2020-08-06 at 10 26 14 AM](https://user-images.githubusercontent.com/2440938/89543720-44299780-d7cf-11ea-82a0-bd81664f0d8e.png)

 ## Acceptance Criteria
 ### Update [Required]
 * [ ]  newIssueWelcomeComment is complete w

[2020-08-14 20:40] isabelcosta commented on #15
@nandini45 can you please provide the image without the middle part (title and subtitle), because that comes from Medium page itself. Can you provide the asset without the part in the middle?

[2020-08-14 21:32] 19-pragya commented on #17
Can i work on this if its available?

[2020-08-14 21:38] 19-pragya commented on #9
Can i work on this

[2020-08-14 21:38] 19-pragya commented on #2
Can i work on this

[2020-08-15 17:37] SanketDG commented on #17
@kakabisht You still on this?

[2020-08-15 17:56] kakabisht commented on #17
Hi @SanketDG  I had submitted the file about 10 days ago and was waiting for further modifications from @isabelcosta.
[This is the pull request link](https://github.com/anitab-org/documentation/pull/19)

[2020-08-15 18:17] 19-pragya commented on #20
can i work on this

[2020-08-16 09:59] nandini45 commented on #15
yes @isabelcosta
 i am on the verge of finishing the design i will remove the middle part as u said

[2020-08-19 12:57] 19-pragya commented on #16
can i work on this??

[2020-08-19 13:00] 19-pragya commented on #13
can i work on this??

[2020-08-19 15:09] SanketDG commented on #13
Sure @19-pragya, should I assign you?

[2020-08-19 15:19] 19-pragya commented on #13
Yes please

[2020-08-19 15:27] SanketDG commented on #13
Let me know if you need any help.

[2020-08-20 08:03] 19-pragya commented on #13
actually, i am very new to this..
can you please explain waht exactly i have to to??
@SanketDG

[2020-08-20 10:05] SanketDG commented on #13
@19-pragya

Most projects at Anita-B have a Commit Message Style Guide, which is adhered by all developers when updating or creating commits for a PR. This is [Portal's](https://github.com/anitab-org/portal/wiki/Commit-Message-Style-Guide).

This was mostly checked by each and every PR reviewer manually, which is not the most effecient way to do it. So, why not let computers do what they are good

[2020-08-21 00:24] #9 closed

[2020-08-23 18:31] isabelcosta commented on #15
It's ok @nandini45 ! Thank you for the update :)

[2020-08-24 17:50] #14 closed

[2020-09-02 14:23] Pranjal9999999 commented on #15
If this is still available I would like to work on it.

[2020-09-02 18:24] isabelcosta commented on #15
@Pranjal9999999 I think @nandini45 is still working on this. Correct me if I'm wrong @nandini45 :)

[2020-09-03 18:34] nandini45 commented on #15
![image](https://user-images.githubusercontent.com/62046625/92153500-022d5900-ee42-11ea-8ffe-228d4088b998.png)

@isabelcosta  this is half of the image i am working on their facial features. can u tell me any other improvement which i can make ?

[2020-09-03 18:35] nandini45 commented on #15
i am working
@isabelcosta

[2020-09-03 18:36] nandini45 commented on #15
please do ignore their facial expression i wanted to know a review so i just sent the image

[2020-09-11 20:39] ankit-saraf opened #22 "Step by step guide for absolute beginners to contribute"
## Step by step guide for absolute beginners to contribute.
As a beginner,
I need a complete beginner's guide on how to proceed on their first issue,
so that I can break the hesitation that the beginners have which makes them reluctant to contribute.

## Required items:
1. A BEGINNER_GUIDE.md file with step by step guide.
2. Step by step git commands for setting repository locally.
3. Creating a p

[2020-09-11 20:39] ankit-saraf commented on #22
I would love to work on it

[2020-09-11 20:40] ankit-saraf commented on #22
Please assign it to me

[2020-09-11 20:40] ankit-saraf commented on #22
Pls add the following labels :
Category: Documentation
Open Source Hack

[2020-09-11 21:12] vj-codes commented on #22
This repo is not for OSH so can't add that label

[2020-09-11 21:13] ankit-saraf commented on #22
@vj-codes can we have it in VMS?

[2020-09-13 08:34] ankitapuri commented on #22
Can I work on this if its available

[2020-09-14 12:51] ankitapuri commented on #22
@vj-codes  please assign this to me .

[2020-09-19 14:20] nandini45 commented on #15
@isabelcosta  the image is ready.
 should i open a pull request or? share the image here?

[2020-09-19 14:21] nandini45 commented on #15
i asked the design team for review they liked it. i made some changes and finalized it i will again ask their review today

[2020-09-19 14:26] nandini45 commented on #15
![image](https://user-images.githubusercontent.com/62046625/93669486-3cd5f900-fab2-11ea-9bfc-ce449bf5a58f.png)

[2020-09-19 14:38] nandini45 commented on #15
![image](https://user-images.githubusercontent.com/62046625/93669742-e79ae700-fab3-11ea-9fae-e63c183f60e6.png)

[2020-09-19 14:39] nandini45 commented on #15
![image](https://user-images.githubusercontent.com/62046625/93669770-131dd180-fab4-11ea-81a6-30803498df4d.png)

[2020-09-19 14:41] nandini45 commented on #15
https://www.figma.com/file/UR7rRDUF4zPzVZoiVu8SyE/blog_design?node-id=0%3A1

[2020-09-19 17:04] nandini45 commented on #15
https://www.figma.com/file/UR7rRDUF4zPzVZoiVu8SyE/blog_design?node-id=0%3A1

[2020-09-19 17:30] nandini45 commented on #15
in the image you may see some mistakes but if you open the link review
 you can see the actual file.
 if you think its good shall i open a PR?

[2020-09-24 12:20] nandini45 commented on #15
@isabelcosta ??

[2020-09-24 14:26] madhhuurrii commented on #22
@vj-codes Can u please assign me ?

[2020-09-24 18:24] isabelcosta commented on #15
@nandini45 you can also upload on the Google Drive folder shared between us and link it in the Our Blog document :)

One tiny question, does this image follow AnitaB.org Design Guidelines?
![image](https://user-images.githubusercontent.com/11148726/94184230-82703880-fe9b-11ea-8e54-d88943d74817.png)

[2020-09-24 18:58] nandini45 commented on #15
Yes it does follows all guidelines but I don't know maybe for some reference if you can recommend someone to me..
Btw I did ask the design team for reference they approved of it..!

[2020-09-24 18:59] nandini45 commented on #15
@isabelcosta

[2020-09-24 22:16] isabelcosta commented on #15
that is good image :) You can put it on google drive and let me know and I put in the Medium publication :)
Also feel free to create a PR, and add the link to the image, perhaps even render the image in the `our-blog.md`. Let me know if you have any doubt

[2020-09-25 13:59] nandini45 commented on #15
nope thanks
https://drive.google.com/drive/folders/1r3qrkaCcSRWqJTE50tB7jzXVMnCbEab9?zx=se7hfltre7x8
 here is the drive link
and i will create a PR too
@isabelcosta

[2020-09-26 10:03] isabelcosta commented on #15
@nandini45 added it to medium publication :) https://medium.com/anitab-org-open-source

[2020-09-26 10:43] nandini45 commented on #15
@isabelcosta  i had a question do u like the images ??
maybe i should like reduce the size something??

[2020-09-28 12:00] sanchibansal340 commented on #20
@Frenzyritz13 Can I work on this?

[2020-09-29 18:00] isabelcosta commented on #15
@nandini45 I really like it :) It's a very nice image. We can always improve it, but for the first version, I think it looks very nice :)

[2020-10-05 05:19] Code414 commented on #22
Please assign this issue to me. I want to write the documentation for it. Thanks :)

[2020-10-06 13:58] ayushi1109 commented on #16
could you please assign this task to me??

[2020-10-06 13:59] ayushi1109 commented on #20
could you please assign this task to me??

[2020-10-06 14:00] ayushi1109 commented on #22
could you please assign this task to me ??

[2020-10-06 14:02] nandini45 commented on #16
@19-pragya @ayushi1109  this issue is not open for contribution.. look for a issue with th label available

[2020-10-06 14:02] ayushi1109 commented on #6
could you please assign this task to me??

[2020-10-06 14:03] nandini45 commented on #22
@isabelcosta do you approve of  this issue??

[2020-10-06 18:22] isabelcosta commented on #22
@nandini45 you are correct this is not approved yet, I asked for help [here](https://anitab-org.zulipchat.com/#narrow/stream/216326-documentation/topic/anitab-org.2Fdocumentation/near/212465514) from ambassadors.

[2020-10-06 19:05] Techno-Disaster commented on #6
This issue is done already and merged on flutter repo

[2020-10-09 16:41] ayushi1109 commented on #6
okie, thankyou !

[2020-10-13 21:54] rpattath opened #24 "Include type of PRs that does Need Testing in QA documentation."
Currently the QA doc does not have information about certain PRs that does not need testing. Some examples:
1. Documentation PRs that describes a process or feature which does not have a set of step by step instruction to be run.
2. If Travis is implement and working as expected then unit test or any other test automation does not need to be tested again by QA team as long as Travis runs that test

[2020-10-28 13:01] DARK-art108 commented on #24
Hello @rpattath can I take up this issue? :)

[2020-11-20 00:36] isabelcosta opened #25 "Create document to be clear about multiple way newcomers can contribute"
## Description

List in a document the many ways people can contribute to our community. Take inspiration from OS Ambassador's document. This is not a blog post, just a list of examples in bullet points, so this is easy to share with newcomers in our community.

## Acceptance criteria

- [ ] Mention how to contribute to many categories we encourage in the community
- [ ] Link to documents within t

[2020-11-21 16:51] #25 closed

[2020-11-21 16:58] isabelcosta opened #27 "Add link to #documentation stream on Zulip to ways-to-contribute.md document"
## Description

This file [ways-to-contribute.md](https://github.com/anitab-org/documentation/blob/master/ways-to-contribute.md) has the text referring to #documentation stream on Zulip. We could have a link to it, like other streams in the same document have.

## Why

This helps newcomers reading the document have direct access to the stream

## Acceptance Criteria

- [ ] Add the link to #documen

[2020-11-26 18:48] isabelcosta commented on #4
I'll take on this issue, and make the first version of it public. The undecided parts we'll clarify once we have bandwidth

[2020-11-28 06:19] nlok5923 commented on #27
@isabelcosta i would like to work on this issue.

[2020-11-28 12:18] isabelcosta commented on #27
@nlok5923 sure :) Will assign it to you!

[2020-11-28 12:20] nlok5923 commented on #27
@isabelcosta please can you help me to find zulip stream link

[2020-11-28 12:52] #27 closed

[2020-12-06 09:57] nlok5923 commented on #24
@rpattath can i work on it if nobody is currently working on it?

[2020-12-13 01:56] isabelcosta commented on #15
@nandini45 feel free to add this image link to the repository so that it's clear you came up with this image. We are already using it on Medium, but I think it would be nice if we would have it as well in the document about our blog on this repository. Can you submit a pull request to add the image in `our-blog.md` file?

[2020-12-13 02:14] nandini45 commented on #15
Sure Isabel.
 I will do it by today

On 13 Dec 2020 7:26 a.m., "Isabel Costa" <notifications@github.com> wrote:

[2020-12-14 18:22] #15 closed

[2021-01-08 00:13] isabelcosta commented on #17
fixes by #19

[2021-01-08 00:13] #17 closed

[2021-01-08 00:18] isabelcosta opened #30 "Create collaboration guidelines for Ambassadors for Design"
## Description

@annabauza has clear guidelines for designer collaboration. It would be great if this could be in a public document we can reference to ambassadors while being transparent with the whole community.

## Suggestions

This could be a document `design.md` in the root of the project, or a `design` folder with a document only dedicated to collaboration guidelines

[2021-01-08 00:26] isabelcosta opened #31 "Create Pull Request lifecycle document"
## Description

We already follow a workflow for a pull request, however, we don't have this documented anywhere yet.
@anitab-org/admins worked on a text-based version, that I think we could already share it, and then improve upon it.

This is sort of related to #3 issue, however, we could consider this as a subtask of that issue, we could proceed until we have more content to add.

[2021-01-09 09:25] annabauza commented on #30
**How to contribute in designs:**
	→ It is expected that 1 designer is contributing to selected project.
	→ Join a project session to check what is needed to design, familiarise yourself with metrics guidelines if exists.
	→ Before starting the design make sure you contact the primary designer for the project to coordinate work which has NOT been assigned yet.
	→ Start design and attend design ses

[2021-01-14 20:19] isabelcosta commented on #30
I was mentioning about what you wrote in the Membership SOW (WIP) document about the membership levels:
[code]
I can create a PR with it, I was leaving up to you for you to be the author of that content :)

[2021-01-15 17:15] annabauza commented on #30
Leave it with me @isabelcosta :)

[2021-01-17 14:49] annabauza commented on #30
@isabelcosta what do you think - https://github.com/anitab-org/stem-diverse-tv-cms/wiki/Design-Contributions

[2021-01-17 15:13] isabelcosta commented on #30
That looks good @annabauza 👏 I trust you with these guidelines, I just wanted to make sure there are design guidelines that are community-wide standards available to everyone in this repository regardless of the project. Since there are projects which don't have a specific ambassador yet. We could also go more specific with certain guidelines in each project's wiki, just like you did.

[2021-01-17 16:31] annabauza commented on #30
Yep that's the idea. I'll add those to other projects. Thanks @isabelcosta

[2021-01-17 19:43] isabelcosta commented on #30
That sounds great 💪 @annabauza

[2021-01-19 04:16] noobkid2411 commented on #3
Hi,this is Sonakshi. I am new here and would very much like to contribute to this issue.I hope I can help in resolving it. Can I get started on this? Any help would be appreciated.

[2021-01-29 22:21] #4 closed

[2021-01-30 18:51] Rahulm2310 opened #33 "Grammatical errors"
### Describe
There are some grammatical errors in the [ways-to-contribute.md](https://github.com/anitab-org/documentation/blob/master/ways-to-contribute.md) and [quality-assurance.md](https://github.com/anitab-org/documentation/blob/master/quality-assurance.md) files.

### Expected Behavior
All of the below mentioned grammatical errors needs to be fixed.

### Steps to reproduce
1. Go to [ways-to-c

[2021-01-30 18:53] Rahulm2310 commented on #33
@isabelcosta Could you please confirm and assign me this issue. Thanks 🙂

[2021-01-30 19:30] isabelcosta commented on #33
@Rahulm2310 yeeees! Thank you for spotting those and raising an issue for it!

[2021-01-31 20:02] #33 closed

[2021-02-08 11:49] devifeoma commented on #3
Hi @isabelcosta, I’m Judith and I would like to contribute to this.  I await your response.

[2021-02-08 22:59] isabelcosta commented on #3
@noobkid2411 are you still interested in working on this? If yes, I'll assign to you if not, no problem, I'll assign to @devifeoma :)

[2021-02-09 08:12] devifeoma commented on #3
Hi @noobkid2411 <https://github.com/noobkid2411>, I await your swift
response.

On Mon, Feb 8, 2021 at 11:59 PM Isabel Costa <notifications@github.com>
wrote:

[2021-02-09 18:20] Rahulm2310 opened #35 "Feat : Enable GitHub pages and add theme"
Although markdown files are readable but not have a rich UI. We can enable github pages and add a theme to this repo so that documentation looks fresh and intuitive.

![doc-theme](https://user-images.githubusercontent.com/54268438/107408704-50e9c800-6b31-11eb-8d0a-757a06dc3d54.gif)

Have a look here https://rahulm2310.github.io/documentation/ways-to-contribute.html

[2021-02-09 18:21] Rahulm2310 commented on #35
@isabelcosta Please share your thoughts. Thanks 🙂

[2021-02-09 18:26] noobkid2411 commented on #3
@isabelcosta @devifeoma yeah I'm still interested ,I'd like to start on this issue.

[2021-02-10 00:10] isabelcosta commented on #3
cool will assign it to you @noobkid2411 :)

[2021-02-10 00:11] isabelcosta commented on #3
@devifeoma we have another project with a documentation issue, if you'd like to work on it, leave a comment and I will assign it to you :)
Issue: https://github.com/anitab-org/open-source-programs-web/issues/71

[2021-02-10 09:30] devifeoma commented on #3
Hi Isabel, yes I’m interested in working project. Let me know about it.

On Wed, Feb 10, 2021 at 1:11 AM Isabel Costa <notifications@github.com>
wrote:

[2021-02-10 12:19] devifeoma commented on #3
Yes, @isabelcosta <https://github.com/isabelcosta> assign to me.

On Wed, Feb 10, 2021 at 10:30 AM Judith Ifeoma Nwokike <
notifications@github.com> wrote:

[2021-02-13 22:03] isabelcosta commented on #35
This looks amazing 🤩 Is this docusaurus? Because for consistency across our projects that would be better

[2021-02-14 04:50] Rahulm2310 commented on #35
@isabelcosta No no. This is just a basic GitHub pages [theme](https://pages.github.com/themes/). Although, it is not needed if we are moving to docusaurus.
Shall I edit this issue description for moving to docusaurus ?

[2021-02-21 23:53] isabelcosta opened #37 "Create document that tracks the state of tooling adoption"
## Description

We need to be more transparent in some of our goals, in particular, tools that we decided to adopt along the way, but did not write this in a such a public and common place like GitHub.
We want a document that tracks the adoption of such tools. Tools include GitHub Actions for our CI/CD pipeline (instead of Travis CI), use of Docusaurus for our documentation (instead of Google Docs

[2021-03-02 19:55] epicadk opened #38 "Feature : Setup tools that will auto generate changelogs."
### Is your feature request related to a problem? Please describe.

Currently we follow a style of commit similar to one mentioned [here](https://www.conventionalcommits.org/en/v1.0.0/). There are many tools that can auto generate changelogs and also this type of convention helps us review the commits if something goes wrong.

### Describe the solution you'd like

Setup these tools that will autom

[2021-03-08 23:08] mtreacy002 opened #39 "Create the TERMS_OF-USE.md to keep consistency across all projects"
### Is your feature request related to a problem? Please describe.
Register form on all AnitaB.Org Open source applications need to have common Terms of Use. At the moment developers getting the content from https://anitab.org/terms-of-use/.

### Describe the solution you'd like
If we have TERMS_OF_USE.md in the /documentation repo, developers can use .md parser in their project so that any change

[2021-03-08 23:41] mtreacy002 opened #40 "Create PRIVACY_POLICY.md"
### Is your feature request related to a problem? Please describe.
Register form on all AnitaB.Org Open source applications need to have common Privacy Policy. At the moment developers getting the content from https://anitab.org/privacy-policy/.

### Describe the solution you'd like
If we have PRIVACY_POLICY.md in the /documentation repo, developers can use .md parser in their project so that any

[2021-03-08 23:43] mtreacy002 commented on #40
@isabelcosta , can you please see if this issue is valid? Thanks 😉

[2021-03-08 23:44] mtreacy002 commented on #39
@isabelcosta , can you please see if this issue is valid? Thanks 😉

[2021-03-18 22:26] mtreacy002 opened #43 "Feat: Create FORK_CLONE_REMOTE.md for all projects repo to refer to"
### Is your feature request related to a problem? Please describe.
Currently projects under anita-org has their own copy of `Fork, Clone & Remote` instructions on wiki page. These pages are redundant because we only need one page that all projects can refer to.

### Describe the solution you'd like
Create FORK_CLONE_REMOTE.md template.

### Describe alternatives you've considered
NA

### Additiona

[2021-03-18 23:00] mtreacy002 opened #44 "Feat: Create DESIGN_CONTRIBUTION_GUIDELINES.md for projects to refer to."
### Is your feature request related to a problem? Please describe.
Projects needs to have one source of truth where they can refer to `Design Contribution Guidelines` instruction on wiki page.

### Describe the solution you'd like
Create DESIGN_CONTRIBUTION_GUIDELINES.md template.

### Describe alternatives you've considered
NA

### Additional context
* Content for the template can be found [here]

[2021-03-18 23:03] mtreacy002 opened #42 "Feat: Create MAINTAINER_GUIDELINES.md for projects to refer to."
### Is your feature request related to a problem? Please describe.
Projects needs to have one source of truth where they can refer to `Maintainer Guidelines` instruction on wiki page.

### Describe the solution you'd like
Create MAINTAINER_GUIDELINES.md template.

### Describe alternatives you've considered
NA

### Additional context
* Content for the template can be found [here](https://github.co

[2021-03-20 20:49] mtreacy002 opened #41 "Feat: Create COMMIT_MESSAGE_STYLE_GUIDE.md for projects to refer to."
### Is your feature request related to a problem? Please describe.
Currently projects under anita-org has their own copy of `Commit Message Style Guide` instructions on wiki page. These pages are redundant because we only need one page that all projects can refer to.

### Describe the solution you'd like
Create COMMIT_MESSAGE_STYLE_GUIDE.md template.

### Describe alternatives you've considered
NA

[2021-03-20 20:53] mtreacy002 commented on #41
I don't think I have that capacity in GitHub (transferring issue between different repo) even as BIT maintainer. I think that's only reserved for admins 😁

[2021-03-23 22:06] Jasmine9003 commented on #42
Can I take up this issue?

[2021-03-23 22:19] mtreacy002 commented on #42
Sure, @P-riyanka-prasad , I'll assign you to this as you claim this first 😉.

[2021-03-23 22:56] Jasmine9003 commented on #43
Can I take up this issue @mtreacy002

[2021-03-23 22:58] Jasmine9003 commented on #44
Can I take up this issue? @mtreacy002

[2021-03-24 00:14] mtreacy002 commented on #43
Sure, @Jasmine9003 . This issue is now yours 😉. Thanks for picking up the issue 👍.

[2021-03-24 00:15] mtreacy002 commented on #44
@Jasmine9003 , you've been assigned to #43 . So, please focus on that issue for now 😉

[2021-03-24 00:37] mtreacy002 opened #45 "Feat: Create OS_LEADERS.md to list OS Leaders and their roles"
### Is your feature request related to a problem? Please describe.
It would be helpful for contributors to know the OS Leaders and their roles on the projects. This way they know who to ping on project specific issue.

### Describe the solution you'd like
Create a OS_LEADERS.md doc that shows a table below:

| Project | Repositories | Name | Zulip ID | Github ID | Role |
| --- | --- | --- | --- |

[2021-03-24 00:38] mtreacy002 commented on #45
@isabelcosta or @annabauza , can you please confirm whether or not this issue is valid? Thanks

[2021-03-24 04:03] aditisingh2412 commented on #44
Can I work on this issue? @mtreacy002

[2021-03-24 05:45] mtreacy002 commented on #44
Sure, @aditisingh2412 . I'll assign you to this now. Thanks for picking up the issue 😉.

[2021-03-24 14:57] aditisingh2412 commented on #44
@mtreacy002 I have created a PR for this issue, kindly look to it. And if there are any changes to do, let me know :)

[2021-03-27 07:46] Jasmine9003 commented on #43
@mtreacy002 I have created a PR for this issue, kindly review it once.

[2021-03-31 09:08] epicadk opened #49 "Fix grammatical mistakes"
### Is your feature request related to a problem? Please describe.

Fix grammatical mistakes under [this](https://github.com/anitab-org/documentation/blob/master/ways-to-contribute.md#ways-to-contribute) section.

[2021-04-02 22:11] #44 closed

[2021-04-02 22:14] isabelcosta commented on #49
@epicadk could you provide some examples in the issue description?
At first I can't spot them there

[2021-04-02 22:16] isabelcosta commented on #6
@vj-codes this is done right? For Mentorship Android 🤔

[2021-04-03 04:44] epicadk commented on #49
Added an example @isabelcosta

[2021-04-03 07:46] vj-codes commented on #6
@isabelcosta yes

[2021-04-03 07:46] #6 closed

[2021-04-03 13:23] isabelcosta commented on #37
closing because of https://github.com/anitab-org/documentation/pull/36#issuecomment-812865012

[2021-04-03 13:23] #37 closed

[2021-04-03 13:23] isabelcosta commented on #37
still worth adding an issue to add a document that tells the tools we use cross projects!

[2021-04-03 15:20] isabelcosta commented on #49
Coolio!

[2021-04-04 12:44] #43 closed

[2021-04-04 12:47] isabelcosta commented on #16
Fixed w/ https://github.com/anitab-org/documentation/pull/48

[2021-04-04 12:47] #16 closed

[2021-04-20 19:04] isabelcosta commented on #45
@mtreacy002 I just saw this now, but will totally come back to this, in a couple weeks.

[2021-05-10 23:41] isabelcosta commented on #35
@Rahulm2310 I think it would be awesome if we did like the style of docusaurus just because we are already sort of using it like that.

[2021-05-15 15:38] isabelcosta opened #52 "Duplicate word on README"
## Description

There is a typo in the README, the duplicate word in the design guidelines bullet point.

## Acceptance Criteria
### Update [Required]
- [ ] Remove duplicate `Contributing` word from Design guidelines on README

## Definition of Done
- [ ] All of the required items are completed.
- [x] Approval by 1 mentor.

## Estimation

0.5 hours

[2021-05-15 15:49] isabelcosta opened #53 "Update test PR guide following most recent mentorship-backend docs change"
## Description

Update this repository instructions to fetch a contributor's PR: https://github.com/anitab-org/documentation/blob/master/quality-assurance.md#how-to-test-a-pr
You can follow this PR work https://github.com/anitab-org/mentorship-backend/pull/1076

## Mocks

https://github.com/anitab-org/mentorship-backend/pull/1076

## Acceptance Criteria
### Update [Required]
- [ ] Update test PR g

[2021-05-16 12:41] isabelcosta opened #54 "Create a document to explain our Community Open Sessions"
## Description

I want to explain our Open Sessions and make it clear that these:
- are open to anyone to attend
- no need for video camera usage, it's usually audio only
- opportunity to meet some leaders and ask questions and debug together
- may happen on Google Meet or Zoom
- link the calendar in multiple timezones
- ???

## Acceptance Criteria
### Update [Required]
- [ ] Add new document to e

[2021-05-16 15:30] isabelcosta opened #56 "Add document that explains Maintainer & Ambassadors Responsibilities"
## Description

As a new contributor,
I need the information about the community to be accessible,
so that I can learn more about the community.

We have this information already in this [Google Docs](https://docs.google.com/document/d/1Ld0eJtpSwM6h7kQOfK-2md4ge7U19l5f4tic_LMt2Uo/edit#) document. Only people who are already acquainted with the community are aware that this exists. So we want to be

[2021-05-16 15:54] aditisingh2412 commented on #42
Can I work on this issue?

[2021-06-01 17:45] himanshu007-creator commented on #52
Hi, i would like to work on this issue

[2021-06-01 17:59] isabelcosta commented on #52
sure will assign to you @himanshu007-creator

[2021-06-01 19:14] #52 closed

[2021-06-10 05:38] unnati914 commented on #40
can i work on this issue?

[2021-06-10 05:39] unnati914 commented on #22
can i work on this issue

[2021-06-10 05:54] nandini45 commented on #22
@unnati914  this issue is not available for a new member in the community. it is basically for a person who has been contributing to the community for some while. the aim of this issue is to increase more community engagements.
 you can look more issues with the available tag.

[2021-06-10 06:02] unnati914 commented on #49
could i work on this?

[2021-06-10 06:03] unnati914 commented on #41
i can work on this

[2021-06-10 06:03] epicadk commented on #49
Go ahead @unnati914

[2021-06-10 06:05] unnati914 commented on #49
thank you!

[2021-06-10 06:08] unnati914 commented on #49
i had a doubt.. can i fix any grammatical errors anywhere which i find in this repo?

[2021-06-10 06:11] unnati914 commented on #22
ok thanks!

[2021-06-10 06:30] epicadk commented on #49
Sure

[2021-06-10 06:57] unnati914 commented on #49
Done with the issue. Could you review my PR

[2021-06-19 13:35] isabelcosta opened #59 "Create meeting document for Mentorship System"
## Description

As a contributor,
I need information accessible to me about the community (less on Google Drive - more on GitHub),
so that I can learn more about it.

The idea is to post the meeting summaries on here just as we tend to do on Zulip. Therefore making information more transparent and available to people who are not part of our Zulip community.

## Acceptance Criteria
### Update [Requ

[2021-06-19 14:45] gaurivn commented on #59
Assigning myself as we discussed in today's Mentorship sync-up session.

[2021-06-25 04:43] unnati914 commented on #31
could i work on this?

[2021-06-27 18:46] #59 closed

[2021-06-28 18:46] #56 closed

[2021-06-28 18:48] isabelcosta commented on #42
will unassign due to lack of response @P-riyanka-prasad
@aditisingh2412 are you still interested in this issue?

[2021-06-28 18:49] isabelcosta commented on #31
sorry @unnati914 i think i forgot to link this issue to my PR, but this was already solved by https://github.com/anitab-org/documentation/pull/50

[2021-06-28 18:49] #31 closed

[2021-07-18 06:57] unnati914 commented on #2
can i work on this?

[2021-07-29 22:46] isabelcosta commented on #2
@unnati914 are you still interested? In that case I can assign to you

[2021-07-30 04:15] unnati914 commented on #2
Yes it would be great!

[2021-07-31 01:55] unnati914 commented on #2
can i start working on this?

[2021-07-31 15:04] isabelcosta commented on #2
it's assigned to you now @unnati914 🎉

[2021-08-01 07:17] unnati914 commented on #2
thank you so much 💯

[2021-08-11 20:17] StephNathai commented on #53
Hi! Can I work on this?

[2021-08-11 20:24] StephNathai commented on #53
Hi @isabelcosta! Can I work on this?

[2021-08-17 15:14] StephNathai commented on #53
@isabelcosta Hi, just following up to see if it's ok to grab this one, thanks!

[2021-08-17 20:28] isabelcosta commented on #53
Yes @StephNathai ! I will assign to you :)

[2021-08-17 20:29] isabelcosta commented on #53
Thank you for tagging me and following up. I had missed this.

[2021-09-03 18:04] StephNathai commented on #53
Hi @isabelcosta - my PR is above, please let me know if I need to do anything additional, thank you!

[2021-09-15 20:57] #53 closed

[2021-09-23 03:57] Jayita10 commented on #42
I want to work on this issue. Please assign me

[2021-09-26 09:52] isabelcosta commented on #42
its yours now @Jayita10 :)

[2021-09-26 13:39] Jayita10 commented on #42
I have opened a PR, Please review @isabelcosta :)

[2021-09-26 15:36] #42 closed

[2021-09-27 03:47] Jayita10 commented on #45
Cam I work on this issue? @isabelcosta

[2021-11-23 19:28] vj-codes opened #67 "Quality Assurance documentation not up to date"
### Describe the bug
https://github.com/anitab-org/documentation/blob/master/quality-assurance.md
The document is not up to date, for example it does not include bridge-in-tech backend and web, AnitaB forms Backend, and Stem Diverse in the top projects sections which should be added.
It also includes our archived projects in top section and setup instructions which should be removed.

### Expected

[2022-01-18 14:50] eleensmathew commented on #67
Hi I am interested to work on this. Since I am relatively new please guide me.

[2022-02-26 13:46] PS-11 commented on #67
@vj-codes Could you please guide me, I'm interested to work on this!

[2022-06-09 10:46] Esther-Wavinya commented on #45
Can I work on this? @isabelcosta @mtreacy002

[2022-06-09 22:41] isabelcosta commented on #45
This issue is a bit old. At the moment, we don't have an ongoing ambassadors program, so we don't have official OS leaders to fill in this information.
I will close this issue cc @anitab-org/admins
cc @Jayita10 @Esther-Wavinya

[2022-06-09 22:41] #45 closed

[2022-10-27 19:30] coryfink opened #68 "Update to branch name to"main" for inclusive design language"
### Describe the bug

It is important to build our technology with **inclusive design language** in order to foster an inclusive workplace where everyone feels they can belong. In order to achieve this, can we change our branch name from `master` to `main`?
### To Reproduce
Steps to reproduce the behavior:
1. Go to **branches** dropdown
2. See `master` branch

### Expected behavior

1. Change bran

[2022-10-28 15:45] coryfink opened #72 "Broken link to Contributing Guidelines in README.md"
### Describe the bug

### To Reproduce
Steps to reproduce the behavior:
Update the below:
Change
1. Make sure contributors are respecting the (https://github.com/anitab-org/anitab-org.github.io/blob/develop/CONTRIBUTING.md). If they don't let them know about it: what is missing, what was disrespected?

to

2. Make sure contributors are respecting the (https://github.com/anitab-org/documentation/bl